<!DOCTYPE html>
<html>
  <head>
    <title>Sekigime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0afc097cdb.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <%= link_to image_tag("logo.png", class: :logo), root_path %> 
        </div>
      </div>
    </header>
    <div class="main">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="copyright">
        <p>Copyright © THE Sekigime All rights reserved.</p>
      </div>
      <div class="sns">
      	<a href="#" class="contact">Contact</a>
      	<a href="#" class="fb"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a>
      	<a href="#" class="tw"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
      	<a href="#" class="insta"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></a>
      </div>
    </footer>
  </body>
</html>
